In [97]:
import pandas as pd
import numpy as np

In [98]:
home_data = pd.read_csv("melb_data.csv")
home_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18396 entries, 0 to 18395
Data columns (total 22 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     18396 non-null  int64
 1   Suburb         18396 non-null  object
 2   Address        18396 non-null  object
 3   Rooms          18396 non-null  int64
 4   Type           18396 non-null  object
 5   Price          18396 non-null  int64
 6   Method         18396 non-null  object
 7   SellerG        18396 non-null  object
 8   Date           18396 non-null  object
 9   Distance       18395 non-null  float64
 10  Postcode       18395 non-null  float64
 11  Bedroom2       14927 non-null  float64
 12  Bathroom       14925 non-null  float64
 13  Car            14820 non-null  float64
 14  Landsize       13603 non-null  float64
 15  BuildingArea   7762 non-null   float64
 16  YearBuilt      8958 non-null   float64
 17  CouncilArea    12233 non-null  object
 18  Lattitude      15064 non-null  float64
 19  Longtitude     15064 non-null  float64
 20  Regionname     18395 non-null  object
 21  Propertycount  18395 non-null  float64
dtypes: float64(11), int64(3), object(8)
memory usage: 3.1+ MB

In [99]:
home_data.head()

,Unnamed: 0,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,1,Abbotsford,85 Turner St,2,h,1480000,S,Biggin,03 12 16,2.5,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,2,Abbotsford,25 Bloomburg St,2,h,1035000,S,Biggin,04 02 16,2.5,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,4,Abbotsford,5 Charles St,3,h,1465000,SP,Biggin,04 03 17,2.5,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,5,Abbotsford,40 Federation La,3,h,850000,PI,Biggin,04 03 17,2.5,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,6,Abbotsford,55a Park St,4,h,1600000,VB,Nelson,04 06 16,2.5,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [100]:
# List all columns which contain na element
[col for col in home_data.columns if home_data[col].isnull().any()]

['Distance',
 'Postcode',
 'Bedroom2',
 'Bathroom',
 'Car',
 'Landsize',
 'BuildingArea',
 'YearBuilt',
 'CouncilArea',
 'Lattitude',
 'Longtitude',
 'Regionname',
 'Propertycount']

In [101]:
home_data = home_data.dropna()
home_data.shape

(6196, 22)

In [102]:
[col for col in home_data.columns if home_data[col].dtype in ["int64", "float64"]]

['Unnamed: 0',
 'Rooms',
 'Price',
 'Distance',
 'Postcode',
 'Bedroom2',
 'Bathroom',
 'Car',
 'Landsize',
 'BuildingArea',
 'YearBuilt',
 'Lattitude',
 'Longtitude',
 'Propertycount']

In [103]:
my_features = ["Rooms",
             'Distance',
             'Bedroom2',
             'Bathroom',
             'Car',
             'Landsize',
             'BuildingArea',
             'YearBuilt',
             'Lattitude',
             'Longtitude']
my_features

['Rooms',
 'Distance',
 'Bedroom2',
 'Bathroom',
 'Car',
 'Landsize',
 'BuildingArea',
 'YearBuilt',
 'Lattitude',
 'Longtitude']

In [104]:
df = home_data[my_features]
df.head()

,Rooms,Distance,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude
1,2,2.5,2.0,1.0,0.0,156.0,79.0,1900.0,-37.8079,144.9934
2,3,2.5,3.0,2.0,0.0,134.0,150.0,1900.0,-37.8093,144.9944
4,4,2.5,3.0,1.0,2.0,120.0,142.0,2014.0,-37.8072,144.9941
6,3,2.5,4.0,2.0,0.0,245.0,210.0,1910.0,-37.8024,144.9993
7,2,2.5,2.0,1.0,2.0,256.0,107.0,1890.0,-37.8060,144.9954

In [105]:
from sklearn.model_selection import train_test_split

X = df.copy()
Y = home_data["Price"]

X_train, X_val, Y_train, Y_val = train_test_split(X, Y, random_state=0)

In [106]:
X_train.shape

(4647, 10)

In [107]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

model = RandomForestRegressor(random_state=1)
model.fit(X_train, Y_train)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=1, verbose=0, warm_start=False)

In [108]:
Y_pred = model.predict(X_val)
# Print mean absolute error
print(mean_absolute_error(Y_val, Y_pred))

182476.44226413354

In [109]:
test1 = df.iloc[1].values
test1

array([   3.    ,    2.5   ,    3.    ,    2.    ,    0.    ,  134.    ,
        150.    , 1900.    ,  -37.8093,  144.9944])

In [110]:
print(f"predicted house price: {model.predict([test1])[0]}")
print(f"label of home price: {home_data.iloc[1].Price}")

predicted house price: 1422566.0
label of home price: 1465000