In [64]:
import pandas as pd
import re
import json

In [65]:
data = pd.read_csv("product_detail.csv")
data.head()

,id,master_id,sku,name,url_key,url_path,type,book_cover,short_description,price,...,stock_item,quantity_sold,all_time_quantity_sold,installment_info,video_url,youtube,is_seller_in_chat_whitelist,price_comparison,configurable_options,configurable_products
0,76472917,76472917,7.84E+12,Microsoft Surface Pro 7 Model QWV-00007 I5/8G...,microsoft-surface-pro-7-model-qwv-00007-i5-8gb...,microsoft-surface-pro-7-model-qwv-00007-i5-8gb...,simple,NaN,Surface Pro 7 Core i5 RAM 8GB SSD 256GB - Sự L...,25799000,...,"{'qty': 2, 'min_sale_qty': 1, 'max_sale_qty': ...","{'text': 'Đã bán 2', 'value': 2}",2.0,NaN,NaN,NaN,True,NaN,NaN,NaN
1,88231354,88231354,5.25E+12,Apple Macbook Air 2020 M1 - 13 Inchs (Apple M1...,apple-macbook-air-2020-m1-13-inchs-apple-m1-16...,apple-macbook-air-2020-m1-13-inchs-apple-m1-16...,configurable,NaN,"Sang trọng, cơ động và đẳng cấp \nĐược chế tác...",29999000,...,"{'qty': 516159, 'min_sale_qty': 1, 'max_sale_q...","{'text': 'Đã bán 25', 'value': 25}",25.0,NaN,NaN,NaN,False,"{'title': '1 Nhà Bán Khác', 'sub_title': 'Giá ...","[{'code': 'option1', 'name': 'Màu', 'show_prev...","[{'child_id': 88231355, 'sku': '6096232731489'..."
2,72761522,72761522,9.55E+12,LapTop Lenovo ThinkBook 15 IIL 20SM00D9VN | Co...,laptop-lenovo-thinkbook-15-iil-20sm00d9vn-core...,laptop-lenovo-thinkbook-15-iil-20sm00d9vn-core...,simple,NaN,Thông Số Kỹ ThuậtCPU 10th Generation Intel Cor...,11439000,...,"{'qty': 864688, 'min_sale_qty': 1, 'max_sale_q...","{'text': 'Đã bán 32', 'value': 32}",32.0,NaN,NaN,NaN,False,"{'title': '1 Nhà Bán Khác', 'sub_title': 'Giá ...",NaN,NaN
3,73795660,73795660,7.30E+12,Apple Macbook Pro 2020 M1 - 13 Inchs (Apple M1...,apple-macbook-pro-2020-m1-13-inchs-apple-m1-8g...,apple-macbook-pro-2020-m1-13-inchs-apple-m1-8g...,configurable,NaN,"Thiết kế trau chuốt từng đường nét, trải nghiệ...",35990000,...,"{'qty': 2, 'min_sale_qty': 1, 'max_sale_qty': ...",NaN,NaN,NaN,NaN,NaN,True,NaN,"[{'code': 'option1', 'name': 'Màu', 'show_prev...","[{'child_id': 73795663, 'sku': '7718801101019'..."
4,86787852,86787852,1.92E+12,Laptop Asus ExpertBook P2451F (Chip Intel Core...,laptop-asus-expertbook-p2451f-chip-intel-core-...,laptop-asus-expertbook-p2451f-chip-intel-core-...,simple,NaN,CPU: Intel Core i5-10210U 1.6GHz up to 4.2GHz ...,14500000,...,"{'qty': 2, 'min_sale_qty': 1, 'max_sale_qty': ...",NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN

In [66]:
data.shape

(233, 59)

In [67]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233 entries, 0 to 232
Data columns (total 59 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           232 non-null    object
 1   master_id                    227 non-null    object
 2   sku                          227 non-null    object
 3   name                         226 non-null    object
 4   url_key                      226 non-null    object
 5   url_path                     225 non-null    object
 6   type                         226 non-null    object
 7   book_cover                   1 non-null      object
 8   short_description            226 non-null    object
 9   price                        226 non-null    object
 10  list_price                   226 non-null    object
 11  badges                       226 non-null    object
 12  discount                     226 non-null    object
 13  discount_rate                226 non-null    object
 14  rating_average               226 non-null    object
 15  review_count                 225 non-null    float64
 16  order_count                  225 non-null    float64
 17  favourite_count              225 non-null    float64
 18  thumbnail_url                225 non-null    object
 19  has_ebook                    225 non-null    object
 20  inventory_status             226 non-null    object
 21  inventory_type               225 non-null    object
 22  productset_group_name        225 non-null    object
 23  is_fresh                     225 non-null    object
 24  seller                       0 non-null      float64
 25  is_flower                    225 non-null    object
 26  is_gift_card                 225 non-null    object
 27  inventory                    225 non-null    object
 28  url_attendant_input_form     0 non-null      float64
 29  salable_type                 0 non-null      float64
 30  data_version                 225 non-null    float64
 31  day_ago_created              225 non-null    float64
 32  categories                   225 non-null    object
 33  meta_title                   2 non-null      object
 34  meta_description             0 non-null      float64
 35  meta_keywords                0 non-null      float64
 36  liked                        225 non-null    object
 37  rating_summary               225 non-null    object
 38  description                  225 non-null    object
 39  images                       224 non-null    object
 40  warranty_policy              0 non-null      float64
 41  brand                        224 non-null    object
 42  seller_specifications        224 non-null    object
 43  current_seller               219 non-null    object
 44  other_sellers                224 non-null    object
 45  specifications               224 non-null    object
 46  product_links                219 non-null    object
 47  services_and_promotions      219 non-null    object
 48  promotions                   219 non-null    object
 49  stock_item                   219 non-null    object
 50  quantity_sold                98 non-null     object
 51  all_time_quantity_sold       98 non-null     float64
 52  installment_info             0 non-null      float64
 53  video_url                    4 non-null      object
 54  youtube                      0 non-null      float64
 55  is_seller_in_chat_whitelist  224 non-null    object
 56  price_comparison             31 non-null     object
 57  configurable_options         10 non-null     object
 58  configurable_products        10 non-null     object
dtypes: float64(14), object(45)
memory usage: 107.5+ KB

In [95]:
df = data["quantity_sold"]

In [96]:
df = df.dropna()
df.shape

(98,)

In [97]:
df = df.astype(str)
df

0        {'text': 'Đã bán 2', 'value': 2}
1      {'text': 'Đã bán 25', 'value': 25}
2      {'text': 'Đã bán 32', 'value': 32}
5      {'text': 'Đã bán 38', 'value': 38}
6      {'text': 'Đã bán 10', 'value': 10}
                      ...
179      {'text': 'Đã bán 1', 'value': 1}
182      {'text': 'Đã bán 2', 'value': 2}
193      {'text': 'Đã bán 4', 'value': 4}
212      {'text': 'Đã bán 2', 'value': 2}
220      {'text': 'Đã bán 3', 'value': 3}
Name: quantity_sold, Length: 98, dtype: object

In [90]:
df = df.apply(lambda s: re.sub("\'", "\"", s))
df = df.apply(lambda s: re.sub("None", "\"None\"", s))
df

0        {"text": "Đã bán 2", "value": 2}
1      {"text": "Đã bán 25", "value": 25}
2      {"text": "Đã bán 32", "value": 32}
5      {"text": "Đã bán 38", "value": 38}
6      {"text": "Đã bán 10", "value": 10}
                      ...
179      {"text": "Đã bán 1", "value": 1}
182      {"text": "Đã bán 2", "value": 2}
193      {"text": "Đã bán 4", "value": 4}
212      {"text": "Đã bán 2", "value": 2}
220      {"text": "Đã bán 3", "value": 3}
Name: quantity_sold, Length: 98, dtype: object

In [92]:
type(df.iloc[0])

str

In [93]:
df = df.apply(json.loads)

In [94]:
df2 = pd.DataFrame(df.to_list())
df2.head()

        text  value
0   Đã bán 2      2
1  Đã bán 25     25
2  Đã bán 32     32
3  Đã bán 38     38
4  Đã bán 10     10