In [1]:
import pandas as pd
import re
import json

In [7]:
data = pd.read_csv("product_detail.csv")
data.head()

pd

,id,master_id,sku,name,url_key,url_path,type,book_cover,short_description,price,...,stock_item,installment_info,video_url,youtube,is_seller_in_chat_whitelist,price_comparison,configurable_options,configurable_products,quantity_sold,all_time_quantity_sold
0,86787852,86787852,1922497871924,Laptop Asus ExpertBook P2451F (Chip Intel Core...,laptop-asus-expertbook-p2451f-chip-intel-core-...,laptop-asus-expertbook-p2451f-chip-intel-core-...,simple,NaN,CPU: Intel Core i5-10210U 1.6GHz up to 4.2GHz ...,14500000,...,"{'qty': 2, 'min_sale_qty': 1, 'max_sale_qty': ...",NaN,NaN,NaN,True,NaN,NaN,NaN,NaN,NaN
1,88231354,88231354,5248859131706,Apple Macbook Air 2020 M1 - 13 Inchs (Apple M1...,apple-macbook-air-2020-m1-13-inchs-apple-m1-16...,apple-macbook-air-2020-m1-13-inchs-apple-m1-16...,configurable,NaN,"Sang trọng, cơ động và đẳng cấp \nĐược chế tác...",29999000,...,"{'qty': 887755, 'min_sale_qty': 1, 'max_sale_q...",NaN,NaN,NaN,False,"{'title': '1 Nhà Bán Khác', 'sub_title': 'Giá ...","[{'code': 'option1', 'name': 'Màu', 'show_prev...","[{'child_id': 88231355, 'sku': '6096232731489'...","{'text': 'Đã bán 25', 'value': 25}",25.0
2,72761522,72761522,9548220439145,LapTop Lenovo ThinkBook 15 IIL 20SM00D9VN | Co...,laptop-lenovo-thinkbook-15-iil-20sm00d9vn-core...,laptop-lenovo-thinkbook-15-iil-20sm00d9vn-core...,simple,NaN,Thông Số Kỹ ThuậtCPU 10th Generation Intel Cor...,11439000,...,"{'qty': 132567, 'min_sale_qty': 1, 'max_sale_q...",NaN,NaN,NaN,False,"{'title': '1 Nhà Bán Khác', 'sub_title': 'Giá ...",NaN,NaN,"{'text': 'Đã bán 32', 'value': 32}",32.0
3,73795660,73795660,7297758955055,Apple Macbook Pro 2020 M1 - 13 Inchs (Apple M1...,apple-macbook-pro-2020-m1-13-inchs-apple-m1-8g...,apple-macbook-pro-2020-m1-13-inchs-apple-m1-8g...,configurable,NaN,"Thiết kế trau chuốt từng đường nét, trải nghiệ...",35990000,...,"{'qty': 2, 'min_sale_qty': 1, 'max_sale_qty': ...",NaN,NaN,NaN,True,NaN,"[{'code': 'option1', 'name': 'Màu', 'show_prev...","[{'child_id': 73795663, 'sku': '7718801101019'...",NaN,NaN
4,72543015,72543015,9590648435988,Laptop Dell Latitude 3410 L3410I5SSD (Core i5-...,laptop-dell-latitude-3410-l3410i5ssd-core-i5-1...,laptop-dell-latitude-3410-l3410i5ssd-core-i5-1...,simple,NaN,Thiết kế sang trọng\nLaptop Dell Latitude 3410...,17829000,...,"{'qty': 763967, 'min_sale_qty': 1, 'max_sale_q...",NaN,NaN,NaN,False,"{'title': '2 Nhà Bán Khác', 'sub_title': 'Giá ...",NaN,NaN,NaN,NaN

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 224 entries, 0 to 223
Data columns (total 59 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           224 non-null    int64
 1   master_id                    224 non-null    int64
 2   sku                          224 non-null    int64
 3   name                         224 non-null    object
 4   url_key                      224 non-null    object
 5   url_path                     224 non-null    object
 6   type                         224 non-null    object
 7   book_cover                   0 non-null      float64
 8   short_description            224 non-null    object
 9   price                        224 non-null    int64
 10  list_price                   224 non-null    int64
 11  badges                       224 non-null    object
 12  discount                     224 non-null    int64
 13  discount_rate                224 non-null    int64
 14  rating_average               224 non-null    float64
 15  review_count                 224 non-null    int64
 16  order_count                  224 non-null    int64
 17  favourite_count              224 non-null    int64
 18  thumbnail_url                224 non-null    object
 19  has_ebook                    224 non-null    bool
 20  inventory_status             224 non-null    object
 21  inventory_type               224 non-null    object
 22  productset_group_name        224 non-null    object
 23  is_fresh                     224 non-null    bool
 24  seller                       0 non-null      float64
 25  is_flower                    224 non-null    bool
 26  is_gift_card                 224 non-null    bool
 27  inventory                    224 non-null    object
 28  url_attendant_input_form     0 non-null      float64
 29  salable_type                 0 non-null      float64
 30  data_version                 224 non-null    int64
 31  day_ago_created              224 non-null    int64
 32  categories                   224 non-null    object
 33  meta_title                   2 non-null      object
 34  meta_description             0 non-null      float64
 35  meta_keywords                0 non-null      float64
 36  liked                        224 non-null    bool
 37  rating_summary               224 non-null    object
 38  description                  224 non-null    object
 39  images                       224 non-null    object
 40  warranty_policy              0 non-null      float64
 41  brand                        224 non-null    object
 42  seller_specifications        224 non-null    object
 43  current_seller               219 non-null    object
 44  other_sellers                224 non-null    object
 45  specifications               224 non-null    object
 46  product_links                219 non-null    object
 47  services_and_promotions      219 non-null    object
 48  promotions                   219 non-null    object
 49  stock_item                   219 non-null    object
 50  installment_info             0 non-null      float64
 51  video_url                    4 non-null      object
 52  youtube                      0 non-null      float64
 53  is_seller_in_chat_whitelist  224 non-null    bool
 54  price_comparison             31 non-null     object
 55  configurable_options         10 non-null     object
 56  configurable_products        10 non-null     object
 57  quantity_sold                97 non-null     object
 58  all_time_quantity_sold       97 non-null     float64
dtypes: bool(6), float64(11), int64(12), object(30)
memory usage: 94.2+ KB

In [14]:
li_cols = list(data.dtypes)
print(len(li_cols))
print(li_cols)

59
[dtype('int64'), dtype('int64'), dtype('int64'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('float64'), dtype('O'), dtype('int64'), dtype('int64'), dtype('O'), dtype('int64'), dtype('int64'), dtype('float64'), dtype('int64'), dtype('int64'), dtype('int64'), dtype('O'), dtype('bool'), dtype('O'), dtype('O'), dtype('O'), dtype('bool'), dtype('float64'), dtype('bool'), dtype('bool'), dtype('O'), dtype('float64'), dtype('float64'), dtype('int64'), dtype('int64'), dtype('O'), dtype('O'), dtype('float64'), dtype('float64'), dtype('bool'), dtype('O'), dtype('O'), dtype('O'), dtype('float64'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('float64'), dtype('O'), dtype('float64'), dtype('bool'), dtype('O'), dtype('O'), dtype('O'), dtype('O'), dtype('float64')]

In [5]:
df = data["quantity_sold"]
df

0                                     NaN
1      {'text': 'Đã bán 25', 'value': 25}
2      {'text': 'Đã bán 32', 'value': 32}
3                                     NaN
4                                     NaN
                      ...
219                                   NaN
220                                   NaN
221                                   NaN
222                                   NaN
223                                   NaN
Name: quantity_sold, Length: 224, dtype: object

In [96]:
df = df.dropna()
df.shape

(98,)

In [97]:
df = df.astype(str)
df

0        {'text': 'Đã bán 2', 'value': 2}
1      {'text': 'Đã bán 25', 'value': 25}
2      {'text': 'Đã bán 32', 'value': 32}
5      {'text': 'Đã bán 38', 'value': 38}
6      {'text': 'Đã bán 10', 'value': 10}
                      ...
179      {'text': 'Đã bán 1', 'value': 1}
182      {'text': 'Đã bán 2', 'value': 2}
193      {'text': 'Đã bán 4', 'value': 4}
212      {'text': 'Đã bán 2', 'value': 2}
220      {'text': 'Đã bán 3', 'value': 3}
Name: quantity_sold, Length: 98, dtype: object

In [90]:
df = df.apply(lambda s: re.sub("\'", "\"", s))
df = df.apply(lambda s: re.sub("None", "\"None\"", s))
df

0        {"text": "Đã bán 2", "value": 2}
1      {"text": "Đã bán 25", "value": 25}
2      {"text": "Đã bán 32", "value": 32}
5      {"text": "Đã bán 38", "value": 38}
6      {"text": "Đã bán 10", "value": 10}
                      ...
179      {"text": "Đã bán 1", "value": 1}
182      {"text": "Đã bán 2", "value": 2}
193      {"text": "Đã bán 4", "value": 4}
212      {"text": "Đã bán 2", "value": 2}
220      {"text": "Đã bán 3", "value": 3}
Name: quantity_sold, Length: 98, dtype: object

In [92]:
type(df.iloc[0])

str

In [93]:
df = df.apply(json.loads)

In [94]:
df2 = pd.DataFrame(df.to_list())
df2.head()

        text  value
0   Đã bán 2      2
1  Đã bán 25     25
2  Đã bán 32     32
3  Đã bán 38     38
4  Đã bán 10     10